* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0 20px;
  background-color: #ddd;
  border-radius: 10px;
}
body {
  height: 100vh;
  background-color: #ddd;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo {
  background-color: #fff;
  padding: 20px;
  width: 600px;
}

@media (max-width: 768px) {
  .todo {
    width: 450px;
  }
  .todo button {
    margin-bottom: 20px;
    margin-left: 0 !important;
  }
  .todo ul li {
    margin-bottom: 10px !important;
  }
}

.todo h2 {
  margin-bottom: 20px;
}

.todo input {
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  box-shadow: none;
  margin-bottom: 20px;
}

.todo button {
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.todo ul li {
  margin-bottom: 10px;
  overflow-wrap: break-word;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.todo ul li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 300;
  content: "\f058";
  font-size: 20px;
  margin-right: 10px;
}
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.done {
  text-decoration: line-through;
}

span {
  cursor: pointer;
  color: red;
}